{#{% load staticfiles %}#}
<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
{#    <link rel="stylesheet" href="//assets/stylesheets/bootstrap.min.css" />#}
{#    <link rel="stylesheet" href="//assets/stylesheets/bootstrap-responsive.min.css" />#}
{#    <link rel="stylesheet" href="//assets/stylesheets/application.css" />#}
{##}
{#    <script src="//assets/javascripts/jquery-1.9.1.js"></script>#}
{#    <script src="//assets/javascripts/calculator.js"></script>#}



    {% block head %}


    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>

<br/>
<br/>
<br/>

{% block body %}

{% endblock %}

</body>
</html>